{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>
<body class="bg-light">

        <div class="container mt-5 p-5 rounded shadow bg-white">
            {% if messages %}
                {% for message in messages %}
                    <div class="mb-3 alert alert-success text-center">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>

            <div class="d-flex mb-3 justify-content-between align-items-center">
            <a href="{% url 'createview' %}" >Add new startapp</a>
           {%comment%} <a href="" data-bs-toggle="modal" data-bs-target="#addstartuppModal" class="btn btn-primary px-3 btn-sm">Add new student</a>{%endcomment%}
            <div class="">
                <form method="post" action="{% url 'startup_list' %}"class="d-flex">
                    {% csrf_token %}
                    <input type="search" name="query" class="form-control" placeholder="search..." value="{{search_query}}">
                    <button class="btn btn-success btn-sm px-3 mx-2" name="search">Search</button>
                </form>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Startup Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">email</th>
                    <th scope="col">firm</th>
                    <th scope="col">socialmedialink</th>
                    <th scope="col">Funding_Status</th>
                    {%comment%}<th scope="col">logo</th>{%endcomment%}
                    <th scope="col">Address</th>

                </tr>
            </thead>
            <tbody>
                {% for startup in startapp %}
                    <tr>
                        <td><a href="{% url 'startup_details' startup.id %}">{{startup.id}}</a></td>
                        <td>{{startup.StartupName}}</td>
                        <td>{{startup.Description}}</td>
                        <td>{{startup.email}}</td>
                        <td>{{startup.firm}}</td>

                        <td>{{startup.socialmedialink}}</td>
                        <td>{{startup.Funding_Status}}</td>
                        {%comment%}<td>{{startup.logo}}</td>{%endcomment%}
                        <td>{{startup.Address}}</td>
                        <td>
                            <a href="{% url 'update' startup.id %}" {%comment%}data-bs-toggle="modal" data-bs-target="#updatestartuppModal_{{startup.ID}}" class="btn btn-sm btn-success"{%endcomment%}><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="{% url 'startup_delete' startup.id%}" {%comment%}data-bs-toggle="modal" data-bs-target="#deletestartuppModal_{{startup.ID}}" class="btn btn-sm btn-danger"{%endcomment%}><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>


                    
                    <div class="modal fade" id="updatestartuppModal_{{startup.ID}}" tabindex="-1" aria-labelledby="updatestartupp_{{startup.ID}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updatestartuppModal_{{startup.ID}}Label">Add new student</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">                                
                                        <div class="">
                                            <label for="name">Startup Name</label>
                                            <input required type="text" name="name" class="form-control">
                                        </div>
                                        <div class="mt-3">
                                            <label for="Description">Description</label>
                                            <input required type="text" name="Description" class="form-control">
                                        </div>
                                        <div class="mt-3">
                                            <label for="email">Startup Email</label>
                                            <input required type="email" name="email" class="form-control">
                                        </div>
                                        
                                        
                                        <div class="mt-3">
                                            <label for="contact">Firm</label>
                                            <input required type="text" name="contact" class="form-control">
                                        </div>

                                        <div class="mt-3">
                                            <label for="socialmedialink">Socialmedia Link</label>
                                            <input required type="text" name="socialmedialink" class="form-control">
                                        </div>
                                        <div class="mt-3">
                                            <label for="Funding Status">Funding Status</label>
                                            <input required type="Text" name="Funding Status" class="form-control">
                                        </div>
                                        <div class="mt-3">
                                            <label for="Funding Status">Address</label>
                                            <input required type="Text" name="Funding Status" class="form-control">
                                        </div>

                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" name="update">Update student</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal fade" id="deletestartuppModal_{{startup.ID}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletestartuppModal_{{startup.ID}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{startup.ID}}">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Are you sure? you want to delete</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger" name="delete">Delete startupp</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {%endfor%}
            </tbody>

        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="addstartuppModal" tabindex="-1" aria-labelledby="addstartuppModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addstartuppModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="">
                <label for="name">Startup Name</label>
                <input required type="text" name="Startupname" class="form-control">
            </div>
            <div class="mt-3">
                <label for="Description">Description</label>
                <input required type="text" name="Description" class="form-control">
            </div>
            <div class="mt-3">
                <label for="contact">contact</label>
                <input required type="text" name="contact" class="form-control">
            </div>
            <div class="mt-3">
                <label for="email">Startupp Email</label>
                <input required type="email" name="email" class="form-control">
            </div>
            <div class="mt-3">
                <label for="socialmedialink">Socialmedia Link</label>
                <input required type="text" name="socialmedialink" class="form-control">
            </div>
            <div class="mt-3">
                <label for="Funding Status">Funding Status</label>
                <input required type="Text" name="FundingStatus" class="form-control">
            </div>
            
        </div>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="add">Add Startup</button>
        </div>
      </div>
    </div>
  </div>
        
            <!-- Your page-specific content goes here -->
{%comment%}
    <div class="wrapper">
 
        <!--Top menu -->
        <div class="sidebar">
            {% block content %}
            
            {% endblock %}
            
            <div class="profile">
                <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3>Anamika Roy</h3>
                <p>Designer</p>
            </div>
            <div class="wrapper">
                <ul>
                    <li>
                        <a href="#" class="active">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">Add Startup</span>
                        </a>
                    
                    </li>
                    {% comment  %}
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">People</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="item">Perfomance</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-database"></i></span>
                            <span class="item">Development</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chart-line"></i></span>
                            <span class="item">Reports</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-user-shield"></i></span>
                            <span class="item">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">Settings</span>
                        </a>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
           

           <!--profile image & text-->
            <!--menu item-->
        </div>

    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" >

  </script>
</body>
</html>