<!--<div class="col-6 offset-3">

    <form action="" method="post">
        <h1>Update here</h1>
        {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">UpdateRecord</button>
    </form>
</div>
<div class="formbold-main-wrapper">-->
  
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <div class="formbold-main-wrapper">
  
            <!-- Author: FormBold Team -->
            <!-- Learn More: https://formbold.com -->
            <div class="formbold-form-wrapper">
          
  
  
                <form action="{% if startup.id %}{% url 'update' startup.id %}{% else %}{% url 'createview' %}{% endif %}" method="POST">
                 <h1>Update the information here!</h1>
  
  
                    {% csrf_token %}
                    {{ form.as_p }}

  
                    <button type="submit" class="formbold-btn">Submit</button>
                </form>
    </div>
</div>
